argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
asgiref==3.12.1
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
django==5.2.17
django-cleanup==9.0.0
django-model-utils==5.0.0
djangorestframework==3.18.1
email-reply-parser==0.5.12
idna==3.19
markdown==3.10.3
nh3==0.3.7
oauthlib==3.3.1
pycparser==3.0
pywin32==312
requests==2.34.2
requests-oauthlib==2.0.0
soupsieve==2.9.2
sqlparse==0.6.0
typing-extensions==4.16.0
tzdata==2026.4
urllib3==2.7.0
waitress==3.0.2
whitenoise==6.12.0
